

body {
    background-image: url(background.jpg);
    background-color: rgb(239, 241, 241);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 400;
    font-size: medium;
    font-weight: 500;
    color: rgb(75, 87, 102);
    line-height: 1.0;
    max-width: 100%;
        
}

/* Menu style */

nav {
    max-width: 100%;
    margin-bottom: 2%;
}

.navigation {
	width: 100%;
	display: table;
}
.navigation ul {
	display: table-row;
}
.navigation li {
	display: table-cell;
	background: #1bbb43;
}
.navigation ul li:hover, .menu a:hover {
	background: rgba(193, 196, 196, 0.5); 
}
.navigation li a {
	display: block;
	padding: 20px 15px;
	color: #fff;
	text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    text-decoration: none;

}

/* Main part style */

main{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center center;
    max-width: 100%;
}

.container {
    background-color: rgba(193, 196, 196, 0.5);
    border-radius: 30px;
    align-items: center ;
    justify-content: center center;
}

/* Upper part (photo/name/general information) */

.CV_header {
    display: flex;
    align-content: center;
}

#top {
    background-color:rgba(193, 196, 196, 0) ;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}


.col-6 {
    max-width: 100%;
    height: auto;
    padding: 2%;
    align-content: center center;
    align-items: center center;
    align-self: center center;
}

.row {
    flex-direction: row;
}

.col-1 {
    max-width: 100%;
    height: auto;
    padding: 0%;

}

.col-3 {
    max-width: 100%;
    height: auto;
    padding: 0%;
}

.col-8 {
    max-width: 100%;
    height: auto;
    padding: 0%;
}

/* Icons size */
#picture {
    width: 12px;
}

/* Round border for photo */

#round {
    border-radius: 170px;
}

.img-fluid {
width: 70%;
height: auto;
}

#Descr {
    padding-left: 10px;
} */

.maininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 500;

}

h2    {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
h3    {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #1bbb43;
}
h4      {
    font-family: 'Roboto', sans-serif;
    color: #1bbb43;
}    

#Company {
    font-weight: 700;
    font-family: 'Roboto', Times, serif;
}

#Location {
    font-weight: 700;
    font-style: italic;
}

#EdInfo {
    padding-bottom: 2%;
}


.city {
    text-align: left;
}

a {
text-decoration: none;
}